/* Mobile-first styling for viewport size 360x800 */
/* Chrome dev tools mobile dimensions ~415x885 */

@font-face {
    font-family: pokemon-hollow;
    src: url(Pokemon\ Hollow.ttf);
}

body {
    background: linear-gradient(180deg, #539ae2 0%, #e5c531 80%);
    background-attachment: fixed;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-title {
    font-family: pokemon-hollow;
    font-size: 55px;
    color: #e5c531;
    margin: 0;
}

#navbar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nav-btn {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#about-container {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-body,
#technical-details {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#footer {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 40em;
    overflow: hidden;
}

#footer img {
    width: 80%;
}

/* Galaxy S21+ 384px × 854px */

@media (min-width: 411px) {
    #footer img {
        border: 4px solid green;
        width: 40%;
    }
}

@media (min-width: 410px) {
    #footer img {
        border: 4px solid blue;
        width: 40%;
    }
}

@media (min-width: 412px) {
    #footer img {
        border: 4px solid red;
        width: 40%;
    }
}

@media (min-width: 413px) {
    #footer img {
        border: 4px solid orange;
        width: 40%;
    }
}

@media (min-width: 414px) {
    #footer img {
        border: 4px solid white;
        width: 40%;
    }
}

@media (min-width: 415px) {
    #footer img {
        border: 4px solid black;
        width: 40%;
    }
}

@media (min-width: 416px) {
    #footer img {
        border: 4px solid aqua;
        width: 40%;
    }
}

@media (min-width: 417px) {
    #footer img {
        border: 4px solid rgb(255, 3, 213);
        width: 40%;
    }
}

@media (min-width: 418px) {
    #footer img {
        border: 4px solid rgb(51, 0, 161);
        width: 40%;
    }
}

@media (min-width: 419px) {
    #footer img {
        border: 4px solid rgb(142, 255, 142);
        width: 40%;
    }
}
