/* Mobile-first styling for viewport size 360x800 */
/* Chrome dev tools mobile dimensions ~415x885 */

@font-face {
    font-family: pokemon-hollow;
    src: url(Pokemon\ Hollow.ttf);
}

body {
    background: linear-gradient(180deg, #539ae2 0%, #e5c531 80%);
    background-attachment: fixed;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-title {
    font-family: pokemon-hollow;
    font-size: 55px;
    color: #e5c531;
    margin: 0;
}

#navbar {
    width: 100vw;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nav-btn {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#search-instructions {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
}

#search-instructions em {
    font-size: 15px;
}

#search_container {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    width: 100%;
    height: 70svh;
}

#textbox {
    font-size: 25px;
    text-align: center;
    border: none;
}

#berry-btn {
    cursor: pointer;
    font-size: 18px;
    border: none;
    padding: 6px 10px;
    background-color: #ea7a3c;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#modal_screen {
    display: none;
    text-align: center;
    position: absolute;
    font-size: 25px;
    width: 80%;
    height: 25em;
    top: -4em;
    overflow: scroll;
    background-color: white;
    z-index: 1;
}

#close {
    border: none;
    margin-top: 15px;
    padding: 5px 20px;
    background-color: #ea7a3c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 20px auto 40px auto;
}

#footer {
    position: absolute;
    bottom: 1em;
    width: 80%;
    margin: 0;
}

#picture {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* 13" Macbook Pro 1280x688 */
@media (min-width: 1200px) and (680px <= height <= 700px) {
    body {
        background: #539ae2;
    }

    #search-instructions {
        margin: 2em auto;
        font-weight: 100;
    }

    #navbar {
        justify-content: center;
        gap: 5em;
        padding: 5px 0;
    }

    #search_container {
        margin: 0;
    }

    .nav-btn:hover {
        color: #e5c531;
    }

    #berry-btn:hover {
        background-color: #e95200;
    }

    #open-modal {
        font-size: 15px;
        top: 22.5em;
        right: 42em;
    }

    #modal_screen {
        border-radius: 20px;
        font-size: 15px;
        width: 30%;
        height: 70svh;
        margin: 0;
        z-index: 2;
    }

    #footer {
        text-align: center;
        width: 100%;
        z-index: 1;
    }

    #picture {
        width: 25%;
    }
}
