/* Mobile-first styling for viewport size 360x800 */

@font-face {
    font-family: pokemon-hollow;
    src: url(Pokemon\ Hollow.ttf);
}

body {
    background: linear-gradient(180deg, #539ae2 0%, #e5c531 80%);
    background-attachment: fixed;
    height: 100svh;
}

#app-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#app-title {
    font-family: pokemon-hollow;
    color: yellow;
    font-size: 150px;
    margin-top: 20px;
    margin-bottom: 0;
}

#navbar {
    width: 100vw;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: 6em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4em;
}

.nav-btn {
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#search-instructions {
    font-size: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
}
#search-instructions em {
    font-size: 25px;
}

#compare_container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    width: 100svw;
    height: 70svh;
}

#textbox1,
#textbox2 {
    font-size: 60px;
    text-align: center;
    border: none;
}

#compare {
    margin-top: 20px;
    font-size: 40px;
    border: none;
    padding: 20px;
    background-color: #ea7a3c;
    color: black;
    font-weight: bold;
}

#compare:active {
    background-color: linear-gradient(180deg, #ea7a3c 0%, #80360e, 80%);
}

#modals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

#modal_screen,
#modal_screen2 {
    display: none;
    text-align: center;
    top: 10em;
    width: 45%;
    height: 100%;
    margin-top: -20em;
    overflow: scroll;
    background-color: white;
}

#close,
#close2 {
    font-size: 47px;
    margin-bottom: 40px;
}

#footer {
    width: 100svw;
    position: absolute;
    bottom: 15px;
}

#footer img {
    width: 100%;
}
