/* Mobile-first styling for viewport size 360x800 */
/* Chrome dev tools mobile dimensions ~415x885 */

@font-face {
    font-family: pokemon-hollow;
    src: url(Pokemon\ Hollow.ttf);
}

body {
    background: linear-gradient(180deg, #539ae2 0%, #e5c531 80%);
    background-attachment: fixed;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-title {
    font-family: pokemon-hollow;
    font-size: 55px;
    color: #e5c531;
    margin: 0;
}

#navbar {
    width: 100vw;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nav-btn {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#search-instructions {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
}

#search-instructions em {
    font-size: 15px;
}

#compare_container {
    width: 90svw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#textbox1,
#textbox2 {
    border: none;
    font-size: 25px;
    text-align: center;
}

::-webkit-input-placeholder {
    white-space: pre-line;
}

#textbox1:focus {
    outline: 0;
}

#compare {
    cursor: pointer;
    font-size: 18px;
    border: none;
    padding: 6px 10px;
    background-color: #ea7a3c;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.modals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    height: 70svh;
    width: 90svw;
    margin-top: -10em;
    z-index: -10;
}

.modal-increase-z-index {
    z-index: 10;
}

#modal_screen,
#modal_screen2 {
    display: none;
    background-color: white;
    text-align: center;
    width: 50%;
    overflow: scroll;
}

#close,
#close2 {
    border: none;
    margin-top: 15px;
    padding: 5px 20px;
    background-color: #ea7a3c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 20px auto 40px auto;
}

#footer {
    position: absolute;
    bottom: 1em;
    width: 80%;
    margin: 0;
}

#picture {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* 13" Macbook Pro 1280x688 */
@media (min-width: 1200px) and (680px <= height <= 700px) {
    body {
        background: #539ae2;
    }

    #search-instructions {
        margin: 2em auto;
        font-weight: 100;
    }

    #navbar {
        justify-content: center;
        gap: 5em;
        padding: 5px 0;
    }

    .nav-btn:hover {
        color: #e5c531;
    }

    #compare:hover {
        background-color: #e95200;
    }

    #open-modal {
        font-size: 15px;
        top: 22.5em;
        right: 42em;
    }

    #modal_screen,
    #modal_screen2 {
        border-radius: 20px;
        font-size: 15px;
        width: 30%;
        height: 70svh;
        margin: 0;
    }

    #footer {
        text-align: center;
        width: 100%;
    }

    #picture {
        width: 25%;
    }
}
