body {
  text-align: center;
  background: red;
}

#cover {
  width: 80%;
  position: absolute;
  top: 150px;
  left: 60px;
  z-index: 1;
}

#front {
  width: 80%;
  position: absolute;
  top: 150px;
  left: 60px;
}

button {
  background-color: yellow;
  cursor: pointer;
}

h1 {
  margin-bottom: 5px;
  font-size: 50px;
}

h3 {
  margin: auto auto 5px auto;
  font-size: 25px;
}

p {
  margin: 0 auto 15px auto;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

hr {
  margin-bottom: 20px;
  border: 1px solid black;
}
