@font-face {
    font-family: pokemon-hollow;
    src: url(Pokemon\ Hollow.ttf);
}

@keyframes open {
    0% {
        position: relative;
        z-index: 1;
    }
    50% {
        position: relative;
        z-index: 0;
    }
    60% {
        opacity: 90%;
    }

    80% {
        position: relative;
        z-index: -1;
        margin-left: 60em;
        opacity: 80%;
    }
    100% {
        position: relative;
        z-index: -1;
        margin-right: 0;
        display: none;
        opacity: 0%;
    }
}

body {
    background: linear-gradient(
        180deg,
        rgba(30, 182, 255, 1) 0%,
        rgba(255, 215, 0, 1) 100%
    );
    background-attachment: fixed;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-title {
    font-family: pokemon-hollow;
    color: yellow;
    font-size: 150px;
    margin-top: 20px;
    margin-bottom: 0;
}

#navbar {
    width: 100%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: 6em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4em;
}

.nav-btn {
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#search-instructions {
    font-size: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
}
#search-instructions em {
    font-size: 25px;
}

#pokedex {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vh;
}

#front {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#cover {
    animation: open 3s ease-out;
    animation-fill-mode: forwards;
    height: 102.5%;
    width: 98%;
    object-fit: contain;
    margin-top: -75vh;
}

::-webkit-input-placeholder {
    white-space: pre-line;
}

#textbox {
    border: none;
    background-color: transparent;
    font-size: 60px;
    position: absolute;
    right: 5.5em;
    top: 7em;
    width: 7em;
    height: 5em;
    padding: 0;
    text-align: center;
}

#open-modal {
    border: none;
    background-color: transparent;
    color: yellow;
    font-weight: bold;
    font-size: 47px;
    position: absolute;
    bottom: 6.5em;
    right: 9.5em;
    width: 6em;
    height: 4em;
}

#modal_screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 60px;
    width: 80%;
    height: 30em;
    top: 4em;
    margin-left: 10%;
    overflow: scroll;
    background-color: white;
}

#modal-close {
    font-size: 47px;
}

/* First media query is for a 50% split on 13" screen. */
@media (min-width: 640px) {
}
